body,div,canvas{
	image-rendering:optimizeSpeed;
	-webkit-image-rendering:optimizeSpeed;
	-webkit-interpolation-mode:nearest-neighbor;
}

body{
	padding:0;
	margin:0;
	font-size:12px;
	background-color:#000;
}

body,html{
	height:100%;
}

#outer{
	height:100%;
	overflow:hidden;
	position:relative;
	width:100%;
	cursor: url('../images/cursor.cur'), url('../images/cursor.png'),auto
}

#outer[id]{
	display:table;
	position:static;
}

#middle{
	position:absolute;
	top:50%;
}

#middle[id]{
	display:table-cell;
	vertical-align:middle;
	position:static;
}


/* sign style */
.sign {
	font-family: 'Microsoft Yahei', Tahoma, simsun;
	position: absolute;
	z-index: 2000;
	top: 0;
	left: 50%;
	margin-left: -173px;
	padding: 20px 60px;
	background-color: #fff;
	border: 1px solid #CCC;
	display: none;
	opacity: 0;
	-webkit-transition: all .3s ease-in-out;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border-radius: 3px;
}
.sign:hover {
	box-shadow: 0 0 30px rgba(0, 0, 0, 1);
	opacity: 1;
}
.sign button {
	display: inline-block;
	padding: 1px 5px;
	line-height: 18px;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	background-color: whiteSmoke;
	background-image: -moz-linear-gradient(top, white, #E6E6E6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
	background-image: -webkit-linear-gradient(top, white, #E6E6E6);
	background-image: -o-linear-gradient(top, white, #E6E6E6);
	background-image: linear-gradient(top, white, #E6E6E6);
	background-repeat: repeat-x;
	border-color: #E6E6E6 #E6E6E6 #BFBFBF;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	cursor: pointer;
}
.sign button:active {
	background-image: none;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
	background-color: #E6E6E6;
	outline: 0;
}
.sign button:hover {
	color: #333;
	text-decoration: none;
	background-color: #E6E6E6;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
}
.sign button, .sign input {
	font: 12px 'Microsoft Yahei', Tahoma, simsun;
}
.sign input {
	border: 1px solid #999;
	background-color: #EEE;
	padding: 2px 3px;
}
.sign input:focus {
	box-shadow: 0 0 15px #C53D3F;
	border-color: #E18E94;
	outline: none;
}

/* rank style */
.rank {
	font-family: 'Microsoft Yahei', Tahoma, simsun;
	position: absolute;
	top: 100px;
	left: 200px;
	width: 426px;
	height: 308px;
	z-index: 1000;
	display: none;
	background: url(../images/rank.png) no-repeat center;
	font: 14px/1.6 'Microsoft Yahei', Tahoma;
}
.rank .rank-list {
	width: 350px;
	height: 150px;
	margin: 70px auto 0;
	overflow-y: auto;
	overflow-x: hidden;
}
.rank ul li {
	line-height: 2em;
	background-color: transparent;
	overflow: hidden;
	text-align: center;
	border-bottom: 1px dashed #999;
	-webkit-transition: all 1s ease-out;
}
.rank ul li:hover {
	background-color: #BB713F;
	text-indent: 1em;
	border-bottom-color: 1px dashed #09F;
}
.rank ul li span {
	vertical-align: middle;
	display: inline-block;
	text-align: left;
}
.rank .ranking {
	width: 30px;
	font-weight: bold;
}
.rank .user {
	width: 100px;
}
.rank .score {
	width: 50px;
	font-weight: bold;
	color: green;
}
.replay-btn {
	position: absolute;
	bottom: 25px;
	left: 105px;
	width: 220px;
	height: 60px;
}
.share {
	display: inline-block;
	background: url(../images/share.png) no-repeat 0 0;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 25px;
}
.share-qzone {
	right: 75px;
}
.share-sina {
	background-position: 0 -32px;
	right: 25px;
}
.share-t {
	background-position: 0 -150px;
	right: 50px;
}

/* mask */
.mask {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #444;
	opacity: 0.5;
	z-index: 500;
	height: 100%;
	width: 100%;
	display: none;
	-webkit-transition: all 1s ease-out;
}